:root {
    --main-title-color: #fff;
    --second-title-color: #212121;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.box {
    padding: 94px 215px;
}

ul {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    padding-right: 93px;
}

.web {
    color: #2196F3;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


/* ------------------HEADER--------------------- */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 215px 25px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-list {
    display: flex;
    flex-direction: row;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    padding-right: 50px;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    padding-right: 50px;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.header-link:hover,
.header-mail:hover,
.header-tel:hover,
.header-link:focus,
.header-mail:focus,
.header-tel:focus {
    color: var(--accent-color);
}


/* ------------------HERO--------------------- */

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.header-btn {
    margin: 0 auto;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}


/* ------------------BENEFITS--------------------- */

.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.benefits-list {
    padding-right: 30px;
}

.benefits-title {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}


/* ------------------STUDIO--------------------- */

.studio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* ------------------PORTFOLIO--------------------- */

.portfolio {
    background-color: #F5F4FA;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portfolio-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/* ------------------FOOTER--------------------- */

.footer {
    background-color: #2F303A;
    padding: 60px 215px;
}

.footer-logo {
    color: #fff;
}

.footer-adress {
    padding-top: 20px;
}

.footer-link.adress {
    color: #FFFFFF;
}

.footer-item {
    padding-bottom: 9px;
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}